h1 { /*Textformatierung - Titel (Kosovo)*/
    color: darkblue; /*Titelfarbe blau*/
    text-align: center; /*Titel in die Mitte*/
}

h2 { /*Textformatierung - Untertitel*/
    color: mediumblue; /*Titelfarbe blau*/
    text-align: center; /*Untertitel in die Mitte*/
}

table, /*Tabellenformatierung - Tabelle für Rezept für Gericht "Pite"*/
td {
    border: 1px solid #333; /*Border - Umrandung durchgehende Linie und schwarz*/
    margin-right: 500px; /*Leerraum zwischen Element und Nebenobjekt/-element*/
    grid-column: (1/2); /*Das Objekt in der ersten Box der Tabelle=links (Spalte 1) --> klappt noch nicht*/
    grid-row: (1/1); /*Das Objekt in der ersten Box der Tabelle=links (Reihe 1) --> klappt noch nicht*/
}

thead,
tfoot { /*Tabelle - Färbung*/
    background-color: #333;
    color: #fff;
}

h3 { /*Textformatierung - Titel (Rezept)*/
    color: lightskyblue;/*Titelfarbe blau*/
    text-align: center; /*Titel mittig*/
    box-sizing: content-box; /*Themen in Boxen abgrenzen*/
    width: 88%; /*Breite*/
    padding: 30px;/*Innenabstand*/
    border: ridge burlywood 10px; /*Rand, 3D-Effekt, farbig*/
    float: none; /*Element wird nicht verschoben*/
}

div nav {
    text-align: center; /*Text in die Mitte*/
}

p {
    text-align: center; /*Text mittig*/
}
 

img { /*Bild beim Rezept Pite mittig*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;  /*alle Bilder werden auf der Seite zentriert und nehmen 70% des Bildschirms ein*/
}

.Rezept { /*Damit der Text rechts von der Tabelle ist --> klappt noch nicht*/
    box-sizing: content-box;
    grid-column: (2/2); /*Das Objekt in der zweiten Box der Tabelle=rechts (Spalte 2) --> klappt noch nicht*/
    grid-row: (1/1); /*Das Objekt in der zweiten Box der Tabelle=rechts (Reihe 2) --> klappt noch nicht*/
}

.gridcontainer {
    display:grid; 
}

