h1 { /*Textformatierung - Titel (Kosovo)*/
    color: darkblue; /*Titelfarbe blau*/
    text-align: center; /*Titel in die Mitte*/
}

h2 { /*Textformatierung - Untertitel*/
    color: mediumblue; /*Titelfarbe blau*/
    text-align: center; /*Untertitel in die Mitte*/
}

table, /*Tabellenformatierung - Tabelle für Rezept für Gericht "Pite"*/
td {
    border: 1px solid #333; /*Border - Grenze/Umrandung durchgehende Linie und schwarz*/
    margin-right: 500px; /*Tabelle nach rechts und unten verschieben*/
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

h3 { /*Textformatierung - Titel (Rezept)*/
    color: lightskyblue;/*Titelfarbe blau*/
    text-align: left; /*Titel nach links*/
}

div nav {
    text-align: center; /*Text in die Mitte*/
}
