h1 { /*Textformatierung - Titel (Kosovo)*/
    color: rgb(18, 178, 241); /*Titelfarbe blau*/
    text-align: center; /*Titel in die Mitte*/
}



table, /*Tabellenformatierung - Tabelle für Rezept für Gericht "Pite"*/
td {
    border: 1px solid #333; /*Border - Grenze/Umrandung durchgehende Linie und schwarz*/
    margin-left: 450px; /*Tabelle nach rechts und unten verschieben*/
    <style>
    div {
      background-color: lightgrey;
      width: 300px;
      border: 15px solid green;
      padding: 50px;
      margin: 20px;
    }
    </style>
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

h3 { /*Textformatierung - Titel (Rezept)*/
    text-align: center; /*Titel in die Mitte*/
}

*{ /*Hintergrundfarbe*/
    background-color: moccasin;
}